


@media (max-width: 1440px) {
/*generales*/
.logo-container{
    width: 187px;
    height: 172px;
}
.logo-container p{
    font-size: 35%;
}

.introduccion{
    width: 187px;
    height: 172px;
}
.introduccion p{
    font-size: 35%;
}
a.logo{
    margin-top: 50px;
    font-size: 55%;
}
.stuff-wrapper h1{
    font-size: 330%;
}
.stuff-wrapper p{
    font-size: 130%;
}

/*responsive menu?*/
ul.sidebar-menu li a i {
 font-size: 15px;
 padding-right: 14px;
}
ul.sidebar-menu li a{
    font-size: 13px;
  padding: 15px 0 0 10px;
}
ul.sidebar-menu li a span{
    padding-bottom: 16px;
}
.sidebar-toggle-box {
  margin-right: 15px;
  margin-top: 15px;
}
ul.sidebar-menu {
  margin-top: 37px;
  margin-left: -18px;
}

/*index videos*/
#ini_wrap {
  border-right: none;
  border-left: none;
  position: relative;
}
.ini_header{

    position: fixed;
}
.fondo-video{
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100%;
    float: left;
    display: block;
}
.contenedor-lanzamientos{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

/*videos iniciales*/
.no-video .video-container video,
.touch .video-container video {
  display: none;
}
.no-video .video-container .poster,
.touch .video-container .poster {
  display: block !important;
}
.video-container {
  position: relative;
  float:left;
  height: 100%;
  width: 50%;
  overflow: hidden;
  background: #000;
}
.video-container .poster img {
  width: 100%;
  bottom: 0;
  position: absolute;
}
.headline h1{
    font-weight: 600;
    font-style: italic;
    font-size: 5.6em;
}
.video-container .filter {
  z-index: 100;
  position: absolute;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
}
.title-container{
    left: 160px;
}
.video-container .title-container {
  z-index: 1000;
  position: absolute;
  top: 35%;
  width: 100%;
  color: #fff;
}
.video-container .description .inner {
  font-size: 2em;
  line-height: 1em;
  width: 50%;
}
.description{
    min-height: 50px;
}
.go-right{
    float: right;
    padding-right: 10px;
}
.boton{
    background-color: #fff;
    color: #0955a5;
  font-size: 2em;
  line-height: 1em;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 28%;
  cursor: pointer;
  margin-top: 30px;
}
.boton:hover{
    border-bottom: 2px solid #999999;

}
.video-container .link {
  position: absolute;
  bottom: 3em;
  width: 100%;
  z-index: 1001;
  font-size: 2em;
  color: #fff;
}
.video-container .link a {
  color: #fff;
}
.video-container video {
  position: absolute;
  z-index: 0;
  bottom: 0;
}
.video-container video.fillWidth {
  width: 100%;
}

/*videos*/
.wrap-videos{
    width: 80%;
    height: auto;
    display: block;
    margin-left: 16%;
    min-height: 60px;
    padding-top: 9%;
}
.contenido-videos{
    width: 50%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}
.contenido-videos h1{
    margin-bottom: 55px;
    font-size: 50px;
    color: #0955a5;
    font-style: italic;
    font-weight: 600;
}
.contenido-videos-inner{
    width: 100%;
    float: left;
    margin-bottom: 60px;
}
.separacion{
    position: relative;
    right: 0;
    border-right: 1px solid #999;
    height: 50%;
}

.thumb-video{
    float: left;
    max-width: 48%;
    width: 50%;
    vertical-align: middle;
    margin-top: 20px;
}

.info-videos{
    float: left;
    margin-left: 10px;
    width: 48%;
}

.boton-videos{
    background-color: #0955a5;
    color: #ffffff;
  font-size: 1em;
  line-height: 1em;
  padding-top: 7px;
  padding-bottom: 10px;
  padding-left: 15px;
  width: 66%;
  cursor: pointer;
  margin-top: 20px;
}

.testimonial{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.testimonial img{
    max-width: 80%;
    margin-bottom: 5px;
    cursor: pointer;
}
.nombre{
    font-size: 16px;
    font-style: italic;
    font-weight: 600;
    color: #0955a5;
    margin-bottom: 2px;
}
.info-videos h2{
    color: #0955a5;
    font-weight: 100;
}
.info-videos p{
    color: #525252;
    font-size: 14px;
}
.titulo{
    font-size: 14px;
    font-weight: 600;
    color: #525252;
    margin-bottom: 0px;
}
.trabajo{
    font-size: 14px;
    font-weight: 100;
    color: #525252;
}

/*principal*/
.stuff-wrapper h1 {
    font-size: 280%;
}.stuff-wrapper p {
    font-size: 100%;
}
tr{
    font-size: 10px;
}
.stuff2 {
  margin-top: 4%;
}
.stuff3{
    margin-top: 3%;
}
.stuff9{
    margin-top: 4%;
}
}

@media (max-width: 1280px) {
/*responsive menu?*/
ul.sidebar-menu li a i {
 font-size: 11px;
 padding-right: 14px;
}
ul.sidebar-menu li a{
    font-size: 12px;
  padding: 12px 0 0 10px;
}
ul.sidebar-menu li a span{
    padding-bottom: 12px;
}
.sidebar-toggle-box {
  margin-right: 12px;
  margin-top: 12px;
}
ul.sidebar-menu {
  margin-top: 37px;
  margin-left: -16px;
}
}

@media (max-width: 1024px) {
/*responsive menu?*/
ul.sidebar-menu li a i {
 font-size: 9px;
 padding-right: 8px;
}
ul.sidebar-menu li a{
    font-size: 9px;
  padding: 8px 0 0 10px;
}
ul.sidebar-menu li a span{
    padding-bottom: 9px;
}
.sidebar-toggle-box {
  margin-right: 10px;
  margin-top: 10px;
}
ul.sidebar-menu {
  margin-top: 37px;
  margin-left: -14px;
}

.logo-container{
    width: 133px;
    height: 122px;
}
.logo-container p{
    font-size: 20%;
    line-height: 15%;
    margin-left: 13px;
}

.introduccion{
    width: 133px;
    height: 122px;
}
.introduccion p{
    font-size: 25%;
    margin-left: 12px;
    margin-top: 7px;
}
a.logo{
    margin-top: 50px;
    font-size: 35%;
    padding-bottom: 6%;
    margin-left: 13px;
}
.stuff-wrapper h1{
    font-size: 330%;
}
.stuff-wrapper p{
    font-size: 130%;
}

/*index inicial*/
.headline h1{
    font-size: 3em;
}
.video-container .description .inner {
    font-size: 1.4em;
}
.boton{
    margin-top: 5px;
    font-size: 1em;
    padding-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
}
/*videos*/
.wrap-videos{
    width: 80%;
    height: auto;
    display: block;
    margin-left: 16%;
    min-height: 60px;
    padding-top: 9%;
}
.contenido-videos{
    width: 50%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}
.contenido-videos h1{
    margin-bottom: 40px;
    font-size: 30px;
    color: #0955a5;
    font-style: italic;
    font-weight: 600;
}
.contenido-videos-inner{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.separacion{
    position: relative;
    right: 0;
    border-right: 1px solid #999;
    height: 50%;
}

.thumb-video{
    float: left;
    max-width: 48%;
    width: 50%;
    vertical-align: middle;
    margin-top: 20px;
}

.info-videos{
    float: left;
    margin-left: 10px;
    width: 48%;
}

.boton-videos{
    background-color: #0955a5;
    color: #ffffff;
  font-size: 0.8em;
  line-height: 1em;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left:8px;
  width: 66%;
  cursor: pointer;
  margin-top: 15px;
}

.testimonial{
    width: 25%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.testimonial img{
    max-width: 70%;
    margin-bottom: 5px;
    cursor: pointer;
}
.nombre{
    font-size: 10px;
    font-style: italic;
    font-weight: 600;
    color: #0955a5;
    margin-bottom: 2px;
}
.info-videos h2{
    color: #0955a5;
    font-weight: 100;
    font-size: 16px;
}
.info-videos p{
    color: #525252;
    font-size: 10px;
}
.titulo{
    font-size: 9px;
    font-weight: 600;
    color: #525252;
    margin-bottom: 0px;
}
.trabajo{
    font-size: 9px;
    font-weight: 100;
    color: #525252;
}

}
@media (min-width: 980px) {
    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }

}

@media (min-width: 768px) and (max-width: 979px) {

    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }

    /*chat room*/


}

@media (max-width: 768px) {


.logo-container{
    display: inline;
    width: auto;
    height: auto;
    background-color: #11a8dd;
    font-size: 100%;
}
.centrado{
}
.introduccion{
    position: absolute;
    display: inline;
    width: 100%;
    height: auto;
    font-size: 100%;
    padding-top: 10px;
    padding-bottom: 20px;
}

a.logo{
    color: #ffffff;
    float: left;
    margin-top: 0px;
    font-weight: 100;
    font-style: italic;
    border-bottom: none;
    width: auto;
    margin-left: 10px;
    padding-bottom: 0px;
    font-size: 230%;
    margin-top: 10px;
}

.logo-container p{
    display: none;
}

.introduccion p{
    display: none;
}
.notify-row{
    display: none;
}
.sidebar-toggle-box .fa-bars {
    color: #11a8dd;
}

    .header {
        position: absolute;
        right: 0;
    }

    /*sidebar*/

    #sidebar {
        height: auto;
        overflow: hidden;
        position: absolute;
        width: 100%;
        z-index: 1001;
    }

    .stuff-wrapper{
        width: 100%;
    }
    
    .stuff-wrapper h1{
        font-size: 200%;
        text-align: center;
    }
    .stuff-wrapper p{
        font-size: 140%;
        text-align: center;
    }
    .stuff-wrapper-inner{
        width: 100%;
    }



    /* body container */
    #main-content {
        margin: 0px!important;
        position: none !important;
        width: 100%;
    }

    #sidebar > ul > li > a > span {
        line-height: 35px;
    }

    #sidebar > ul > li {
        margin: 0 10px 5px 10px;
    }
    #sidebar > ul > li > a {
        height:35px;
        line-height:35px;
        padding: 0 10px;
        text-align: left;
    }
    #sidebar > ul > li > a i{
        /*display: none !important;*/
    }

    #sidebar ul > li > a .arrow, #sidebar > ul > li > a .arrow.open {
        margin-right: 10px;
        margin-top: 15px;
    }

    #sidebar ul > li.active > a .arrow, #sidebar ul > li > a:hover .arrow, #sidebar ul > li > a:focus .arrow,
    #sidebar > ul > li.active > a .arrow.open, #sidebar > ul > li > a:hover .arrow.open, #sidebar > ul > li > a:focus .arrow.open{
        margin-top: 15px;
    }

    #sidebar > ul > li > a, #sidebar > ul > li > ul.sub > li {
        width: 100%;
    }
    #sidebar > ul > li > ul.sub > li > a {
        background: transparent !important ;
    }
    #sidebar > ul > li > ul.sub > li > a:hover {
        
    }


    /* sidebar */
    #sidebar {
        margin: 0px !important;
    }

    /* sidebar collabler */
    #sidebar .btn-navbar.collapsed .arrow {
        display: none;
    }

    #sidebar .btn-navbar .arrow {
        position: absolute;
        right: 35px;
        width: 0;
        height: 0;
        top:48px;
        border-bottom: 15px solid #282e36;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
    }

/*videos*/
.wrap-videos{
    width: 100%;
    height: auto;
    display: block;
    margin-left: 0%;
    min-height: 60px;
    padding-top: 9%;
}
.contenido-videos{
    width: 100%;
    float: left;
    padding-left: 2%;
    padding-right: 2%;
}
.contenido-videos h1{
    margin-bottom: 40px;
    font-size: 30px;
    color: #0955a5;
    font-style: italic;
    font-weight: 600;
}
.contenido-videos-inner{
    width: 100%;
    float: left;
    margin-bottom: 30px;
}
.separacion{
    position: relative;
    right: 0;
    border-right: 1px solid #999;
    height: 50%;
}

.thumb-video{
    float: left;
    max-width: 48%;
    width: 50%;
    vertical-align: middle;
    margin-top: 20px;
}

.info-videos{
    float: left;
    margin-left: 10px;
    width: 48%;
}

.boton-videos{
    background-color: #0955a5;
    color: #ffffff;
  font-size: 0.8em;
  line-height: 1em;
  padding-top: 7px;
  padding-bottom: 9px;
  padding-left:8px;
  width: 66%;
  cursor: pointer;
  margin-top: 15px;
}

.testimonial{
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
    float: left;
}

.testimonial img{
    max-width: 70%;
    margin-bottom: 5px;
    cursor: pointer;
}
.nombre{
    font-size: 10px;
    font-style: italic;
    font-weight: 600;
    color: #0955a5;
    margin-bottom: 2px;
}
.info-videos h2{
    color: #0955a5;
    font-weight: 100;
    font-size: 16px;
}
.info-videos p{
    color: #525252;
    font-size: 10px;
}
.titulo{
    font-size: 9px;
    font-weight: 600;
    color: #525252;
    margin-bottom: 0px;
}
.trabajo{
    font-size: 9px;
    font-weight: 100;
    color: #525252;
}
  /*intro videos*/

  .video-container{
    width: 100%;
    height: 50%;
  }
  .title-container{
    width: 100%;
    left: 0;
    text-align: center;
  }
  .video-container .description .inner {
margin: 0 auto;
font-size: 1em;
}
.video-container .title-container {
    top: 27%;
}
  .boton{
    margin: 0 auto;
  }
    /*---------*/

    .modal-footer .btn {
        margin-bottom: 0px !important;
    }

    .btn {
        margin-bottom: 5px;
    }


    /* full calendar fix */
    .fc-header-right {
        left:25px;
        position: absolute;
    }

    .fc-header-left .fc-button {
        margin: 0px !important;
        top: -10px !important;
    }

    .fc-header-right .fc-button {
        margin: 0px !important;
        top: -50px !important;
    }

    .fc-state-active, .fc-state-active .fc-button-inner, .fc-state-hover, .fc-state-hover .fc-button-inner {
        background: none !important;
        color: #FFFFFF !important;
    }

    .fc-state-default, .fc-state-default .fc-button-inner {
        background: none !important;
    }

    .fc-button {
        border: none !important;
        margin-right: 2px;
    }

    .fc-view {
        top: 0px !important;
    }

    .fc-button .fc-button-inner {
        margin: 0px !important;
        padding: 2px !important;
        border: none !important;
        margin-right: 2px !important;
        background-color: #fafafa !important;
        background-image: -moz-linear-gradient(top, #fafafa, #efefef) !important;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fafafa), to(#efefef)) !important;
        background-image: -webkit-linear-gradient(top, #fafafa, #efefef) !important;
        background-image: -o-linear-gradient(top, #fafafa, #efefef) !important;
        background-image: linear-gradient(to bottom, #fafafa, #efefef) !important;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fafafa', endColorstr='#efefef', GradientType=0) !important;
        -webkit-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
        -moz-box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
        box-shadow: 0 1px 0px rgba(255, 255, 255, .8) !important;
        -webkit-border-radius: 3px !important;
        -moz-border-radius: 3px !important;
        border-radius: 3px !important;
        color: #646464 !important;
        border: 1px solid #ddd !important;
        text-shadow: 0 1px 0px rgba(255, 255, 255, .6) !important;
        text-align: center;
    }

    .fc-button.fc-state-disabled .fc-button-inner {
        color: #bcbbbb !important;
    }

    .fc-button.fc-state-active .fc-button-inner {
        background-color: #e5e4e4 !important;
        background-image: -moz-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#e5e4e4), to(#dddcdc)) !important;
        background-image: -webkit-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: -o-linear-gradient(top, #e5e4e4, #dddcdc) !important;
        background-image: linear-gradient(to bottom, #e5e4e4, #dddcdc) !important;
        filter: progid:dximagetransform.microsoft.gradient(startColorstr='#e5e4e4', endColorstr='#dddcdc', GradientType=0) !important;
    }

    .fc-content {
        margin-top: 50px;
    }

    .fc-header-title h2 {
        line-height: 40px !important;
        font-size: 12px !important;
    }

    .fc-header {
        margin-bottom:0px !important;
    }

    /*--*/

    /*.chart-position {*/
        /*margin-top: 0px;*/
    /*}*/

    .stepy-titles li {
        margin: 10px 3px;
    }

    /*-----*/
    .custom-bar-chart {
        margin-bottom: 40px;
    }

    /*menu icon plus minus*/
    .dcjq-icon {
        top: 10px;
    }
    ul.sidebar-menu li ul.sub li a {
        padding: 0;
    }

    /*---*/

    .img-responsive {
        width: 100%;
    }


}



@media (max-width: 480px) {

    .notify-row, .search, .dont-show , .inbox-head .sr-input, .inbox-head .sr-btn{
        display: none;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }
    .hidden-phone {
        display: none !important;
    }

    .chart-position {
       margin-top: 0px;
     }

    .navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus {
        background-color: #ccc;
        border-color:#ccc ;
    }

}

@media (max-width:320px) {
    .login-social-link a {
        padding: 15px 17px !important;
    }

    .notify-row, .search, .dont-show, .inbox-head .sr-input, .inbox-head .sr-btn {
        display: none;
    }

    #top_menu .nav > li, ul.top-menu > li {
        float: right;
    }

    .hidden-phone {
        display: none !important;
    }

    .chart-position {
        margin-top: 0px;
    }

    .lock-wrapper {
        margin: 10% auto;
        max-width: 310px;
    }
    .lock-input {
        width: 82%;
    }

    .cmt-form {
        display: inline-block;
        width: 75%;
    }

}




