<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>Lanzamiento MK</title>

    <!-- Bootstrap core CSS -->
    <link href="assets/css/bootstrap.css" rel="stylesheet">
    <!--external css-->
    <link href="assets/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="assets/css/zabuto_calendar.css">
    <link rel="stylesheet" type="text/css" href="assets/js/gritter/css/jquery.gritter.css" />
    <link rel="stylesheet" type="text/css" href="assets/lineicons/style.css">    
    
    <!-- Custom styles for this template -->
    <link href="assets/css/style.css" rel="stylesheet">
    <link href="assets/css/style-responsive.css" rel="stylesheet">

    <script src="assets/js/chart-master/Chart.js"></script>
    
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

  <section id="container" >
      <!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
      <!--header start-->
      <header class="header">
            <!--logo start-->
            <div class="logo-container">
            <a href="index.html" class="logo">Nuevos Productos</a>
            <p>Lanzamientos Mayo 2015</p>
            <!--logo end-->
            </div>
            <div class="nav notify-row" id="top_menu">
                <!--  notification start -->
                <ul class="nav top-menu">
                    <!-- settings start -->
                    <li class="dropdown">
                        <a data-toggle="dropdown" class="dropdown-toggle" href="index.html#">
                            <i class="fa fa-tasks"></i> Menú de productos
                            <!--<span class="badge bg-theme">4</span>-->
                        </a>
                    </li>
                    <!-- settings end -->
                </ul>
                <!--  notification end -->
            </div>
            <div class="top-menu">

            </div>
        </header>
      <!--header end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
      <!--sidebar start-->
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <div class="sidebar-toggle-box">
                  <div class="fa fa-bars" data-placement="right" data-original-title="Toggle Navigation"></div>
              </div>
              <!-- sidebar menu start-->
              <ul class="sidebar-menu" id="nav-accordion">
              
                  <li class="mt">
                      <a class="active" href="index.html">
                          <i class="fa fa-circle"></i>
                          <span>Estrategia Competitiva</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-circle"></i>
                          <span>Objetivo Estratégico</span>
                      </a>
                  </li>

                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-circle"></i>
                          <span>Components</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-circle"></i>
                          <span>Proyeccion Lanzamientos</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-circle"></i>
                          <span>Actividades Estratégicas</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class="fa fa-circle"></i>
                          <span>Prod. Liderazgo y portafolio</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-circle"></i>
                          <span>Comunicación Médicos</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-circle"></i>
                          <span>Comunicación Dependientes</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-circle"></i>
                          <span>Factores Claves</span>
                      </a>
                  </li>
                  <li class="sub-menu">
                      <a href="javascript:;" >
                          <i class=" fa fa-bar-chart-o"></i>
                          <span>Medicina General</span>
                      </a>
                  </li>

              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>
      <!--sidebar end-->
      
      <!-- **********************************************************************************************************************************************************
      MAIN CONTENT
      *********************************************************************************************************************************************************** -->
      <!--main content start-->
      <section id="main-content">
          <div class="wrapper" id="fullpage">
  <div class="section " id="section0">
      <div class="stuff-wrapper">
        <div class="stuff-wrapper-inner stuff1">
          <h1>Estrategia Competitiva</h1>
          <p>Ofrecer a la comunidad (médicos, consumidores, farmaceutas y clientes) un portafolio amplio de <b>medicamentos con excelente calidad,</b> equivalentes a los innovadores y a precios asequibles que permitan el tratamiento de la mayoría de las enfermedades de la <b>población Colombiana.</b></p>
          <img src="assets/img/flecha.png" class="moveSectionDown">
        </div>
      </div>
  </div>
  <div class="section" id="section1">
      <div class="stuff-wrapper">
        <div class="stuff-wrapper-inner stuff1">
          <h1>Estrategia Competitiva</h1>
          <p>Ofrecer a la comunidad (médicos, consumidores, farmaceutas y clientes) un portafolio amplio de <b>medicamentos con excelente calidad,</b> equivalentes a los innovadores y a precios asequibles que permitan el tratamiento de la mayoría de las enfermedades de la <b>población Colombiana.</b></p>
          <img src="assets/img/flecha.png" class="moveSectionDown">
        </div>
      </div>
  </div>
  <div class="section" id="section2">
      <div class="stuff-wrapper">
        <div class="stuff-wrapper-inner stuff1">
          <h1>Estrategia Competitiva</h1>
          <p>Ofrecer a la comunidad (médicos, consumidores, farmaceutas y clientes) un portafolio amplio de <b>medicamentos con excelente calidad,</b> equivalentes a los innovadores y a precios asequibles que permitan el tratamiento de la mayoría de las enfermedades de la <b>población Colombiana.</b></p>
          <img src="assets/img/flecha.png" class="moveSectionDown">
        </div>
      </div></div>
  <div class="section" id="section3">
      <div class="stuff-wrapper">
        <div class="stuff-wrapper-inner stuff1">
          <h1>Estrategia Competitiva</h1>
          <p>Ofrecer a la comunidad (médicos, consumidores, farmaceutas y clientes) un portafolio amplio de <b>medicamentos con excelente calidad,</b> equivalentes a los innovadores y a precios asequibles que permitan el tratamiento de la mayoría de las enfermedades de la <b>población Colombiana.</b></p>
          <img src="assets/img/flecha.png" class="moveSectionDown">
        </div>
      </div></div>
       
          </div>
      </section>

      <!--main content end-->
      <!--footer start-->
      <footer class="site-footer">
          <div class="text-center">
              2014 - Alvarez.is
              <a href="index.html#" class="go-top">
                  <i class="fa fa-angle-up"></i>
              </a>
          </div>
      </footer>
      <!--footer end-->
  </section>

    <!-- js placed at the end of the document so the pages load faster -->
    <script src="assets/js/jquery.js"></script>
    <script src="assets/js/jquery-1.8.3.min.js"></script>
    <script src="assets/js/jquery.fullPage.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      $('#fullpage').fullpage({
        verticalCentered: false

      });
    });
  </script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script class="include" type="text/javascript" src="assets/js/jquery.dcjqaccordion.2.7.js"></script>
    <script src="assets/js/jquery.scrollTo.js"></script>
    <script src="assets/js/jquery.nicescroll.js" type="text/javascript"></script>
    <script src="assets/js/jquery.sparkline.js"></script>


    <!--common script for all pages-->
    <script src="assets/js/common-scripts.js"></script>
    
    <script type="text/javascript" src="assets/js/gritter/js/jquery.gritter.js"></script>
    <script type="text/javascript" src="assets/js/gritter-conf.js"></script>

    <!--script for this page-->
    <script src="assets/js/sparkline-chart.js"></script>    
	<script src="assets/js/zabuto_calendar.js"></script>	
	
	<script type="text/javascript">
        $(document).ready(function () {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: '¡Bienvenido!',
            // (string | mandatory) the text inside the notification
            text: 'Se recomienda visualizar esta presentación en <a id="fs">pantalla completa.</a>',
            // (string | optional) the image to display on the left
            image: 'assets/img/ui-sam.jpg',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: true,
            // (int | optional) the time you want it to be alive for before fading out
            time: '',
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class',
            position: 'bottom-left'
        });

        return false;
        });
	</script>
	
	<script type="application/javascript">
        $(document).ready(function () {
            $("#date-popover").popover({html: true, trigger: "manual"});
            $("#date-popover").hide();
            $("#date-popover").click(function (e) {
                $(this).hide();
            });
        
            $("#my-calendar").zabuto_calendar({
                action: function () {
                    return myDateFunction(this.id, false);
                },
                action_nav: function () {
                    return myNavFunction(this.id);
                },
                ajax: {
                    url: "show_data.php?action=1",
                    modal: true
                },
                legend: [
                    {type: "text", label: "Special event", badge: "00"},
                    {type: "block", label: "Regular event", }
                ]
            });
        });
        
        
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>
  

  </body>
</html>
